@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    background-image: url(../images/bg.png);
    height: 769px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}


